
.com-markdown {
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  pre > code {
    background-color: white;
    display: block;
    padding: 0.5em;
    -webkit-text-size-adjust: none;
    overflow-x: auto;
    white-space: pre;
  }

  table {
    background-color: white;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 6px;

    &,
    td,
    th {
      border: 1px solid #ddd;
    }

    td,
    th {
      padding: 8px 12px;
    }
  }

  // 图片样式
  .markdown-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 12px 0;
  }
}
